.rangeslider {
    flex: 1;
    margin: 5px 10px 40px 10px;
    .rangeslider__handle {
        width: 10px;
        border-radius: 0px;
        box-shadow: none;
        transform: translate(-50%, -50%);
        &:after {
            display: none;
        }
    }
    .rangeslider__handle:focus {
        outline: none;
    }
    .rangeslider__labels .rangeslider__label-item {
        transform: translate(-50%, 0);
    }

    li.rangeslider__label-item:nth-child(2) {
        background: #eceff1;
        z-index: 100;
        padding: 0 10px;
        font-weight: bold;
    }
}
.rangeslider-horizontal {
    border-radius: 0px;
    .rangeslider__fill {
        background-color: #00a9ce;
        border-radius: 0px;
    }
}
