hex/
*.eww
*.txt
*.ini
*.iex
*.crf
*.d
*.o
*.axf
*.htm
*.lst
*.lnp
*.map
*.sct
*.dep
*.icf
*.ewd
*.ewp
cmd.hex
keil.hex
*.uvguix.*
*.uvopt
*.uvoptx
*.uvproj
*.uvprojx
pca*/**/*.h
pca*/**/*.s
pca*/**/*.c
pca*/**/Makefile
pca*/**/*.ld
